h1{
    text-align: center;
    font-size: 50px;
}
body, html {
  height: 100%;
  margin: 0;
}
title{
  text-align: center;
}
.bg { 
  
  background-image: url("large.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}